<!DOCTYPE html>
<html lang="マスクチェーン" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>マスクチェーン</title>
</head>
<body>
<p>
<h1>マスクチェーン、リンク先</h1>
<p>-------------------------------</p>
<h2>マスクを台湾に習って１週間に２枚配る際のブロックチェーン</h2>
<p>マイナンバーを使う案ですが、使う際はセキュリティの問題上sha256に２回変換すると良いと思います。</p>
<p>マイナンバーをsha256に２回変換して検索。timeを見る。一週間経っていればマスクを支給。という形です。</p>
<a href="http://0.0.0.0:5000" target="_blank">  ホーム</a><br><br>
<a href="http://0.0.0.0:8080" target="_blank">  マスク送信フォーム</a><br><br>
<a href="http://0.0.0.0:9090" target="_blank">  受け取りアドレス</a><br><br>
<a href="http://0.0.0.0:5000/transactions" target="_blank">  トランザクション</a><br><br>
<a href="http://0.0.0.0:5000/chain" target="_blank">  ブロックチェーン</a><br><br>
<a href="http://0.0.0.0:5000/mining" target="_blank">  マイニング</a><br><br>

<br>
<br>
<p><img src="https://www.nri.com/-/media/Corporate/jp/Images/keyword/proposal/20200414/img_02.gif"></p>
<br>
<br>
<br>
<br>
<a href="https://www.nri.com/jp/keyword/proposal/20200414" target="_blank">画像引用元</a><br>
<a href="https://www.j-cast.com/2020/03/03381182.html?p=2" target="_blank">マスク配布枚数参考</a>
<h1>当仕組みを作る際に参考になった資料等</h1>
<a href="https://bitcoin.org/bitcoin.pdf"target="_blank">サトシ・ナカモト氏の論文</a><br><br>


</body>
</html>